* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 62.5%; */
  overflow-x: hidden;
  scroll-behavior: smooth;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button,
a {
  cursor: pointer;
}

wrapper {
  margin-top: 1.5rem;
  padding: 1.5rem;
  border-radius: 4px;
  background-color: #fcfaf5;
  box-shadow: 15px 15px 30px rgba(0, 0, 0, .15);
}